@use '../node_modules/@brybrant/fade-scroll/dist/fade-scroll.css' as *;
@use 'themes' as *;

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'gg mono';
  src:
    url('/fonts/gg mono Normal.woff2') format('woff2'),
    url('/fonts/gg mono Normal.ttf') format('truetype');
}

// @font-face{
//   font-weight: 700;
//   font-style: normal;
//   font-family: 'gg mono';
//   src:
//     url('/fonts/gg mono Bold.woff2') format('woff2'),
//     url('/fonts/gg mono Bold.ttf') format('truetype');
// }

@font-face{
  font-weight: 400;
  font-style: normal;
  font-family: 'gg sans';
  src:
    url('/fonts/gg sans Normal.woff2') format('woff2'),
    url('/fonts/gg sans Normal.ttf') format('truetype');
}

// @font-face{
//   font-weight: 400;
//   font-style: italic;
//   font-family: 'gg sans';
//   src:
//     url('/fonts/gg sans Normal Italic.woff2') format('woff2'),
//     url('/fonts/gg sans Normal Italic.ttf') format('truetype');
// }

@font-face{
  font-weight: 500;
  font-style: normal;
  font-family: 'gg sans';
  src:
    url('/fonts/gg sans Medium.woff2') format('woff2'),
    url('/fonts/gg sans Medium.ttf') format('truetype');
}

// @font-face{
//   font-weight: 500;
//   font-style: italic;
//   font-family: 'gg sans';
//   src:
//     url('/fonts/gg sans Medium Italic.woff2') format('woff2'),
//     url('/fonts/gg sans Medium Italic.ttf') format('truetype');
// }

@font-face{
  font-weight: 600;
  font-style: normal;
  font-family: 'gg sans';
  src:
    url('/fonts/gg sans SemiBold.woff2') format('woff2'),
    url('/fonts/gg sans SemiBold.ttf') format('truetype');
}

// @font-face{
//   font-weight: 600;
//   font-style: italic;
//   font-family: 'gg sans';
//   src:
//     url('/fonts/gg sans SemiBold Italic.woff2') format('woff2'),
//     url('/fonts/gg sans SemiBold Italic.ttf') format('truetype');
// }

// @font-face{
//   font-weight: 700;
//   font-style: normal;
//   font-family: 'gg sans';
//   src:
//     url('/fonts/gg sans Bold.woff2') format('woff2'),
//     url('/fonts/gg sans Bold.ttf') format('truetype');
// }

// @font-face{
//   font-weight: 700;
//   font-style: italic;
//   font-family: 'gg sans';
//   src:
//     url('/fonts/gg sans Bold Italic.woff2') format('woff2'),
//     url('/fonts/gg sans Bold Italic.ttf') format('truetype');
// }

// @font-face{
//   font-weight: 800;
//   font-style: normal;
//   font-family: 'gg sans';
//   src:
//     url('/fonts/gg sans ExtraBold.woff2') format('woff2'),
//     url('/fonts/gg sans ExtraBold.ttf') format('truetype');
// }

// @font-face{
//   font-weight: 800;
//   font-style: italic;
//   font-family: 'gg sans';
//   src:
//     url('/fonts/gg sans ExtraBold Italic.woff2') format('woff2'),
//     url('/fonts/gg sans ExtraBold Italic.ttf') format('truetype');
// }

$blurple: #5865f2;
$tooltip-arrow-size: 5px;

*, :before, :after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  margin: 0;
  font-weight:  400;
  font-family:
    'gg sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  text-align: center;
}

#app {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 360px;
  margin: 0 auto;
  padding: 2rem 20px;
  text-align: center;

  @media (width >= 861px) {
    width: 840px;
  }

  @media (width >= 1661px) {
    width: 1640px;
  }
}

.textbox-container {
  position: relative;
  width: 100%;
}

.preview-input {
  display: inline-block;
  width: 320px;
  height: 52px;
  padding: 15px 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  color: inherit;
  outline: 0;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.375rem;
}

.tooltip {
  position: absolute;
  z-index: 1;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, transform;
}

.tooltip__arrow, .tooltip__arrow:after {
  position: absolute;
  width: 0;
  height: 0;
  border: $tooltip-arrow-size solid transparent;
}

.tooltip__arrow:after {
  content: '';
  top: -$tooltip-arrow-size;
  left: -$tooltip-arrow-size;
}

.tooltip__inner {
  padding: 8px 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0 12px 24px 0 rgba(#000, 0.24);
}

.theme-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.theme-button {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
  margin: 1rem 0.5rem 0;

  .tooltip {
    top: 100%;
    left: 50%;
    /* stylelint-disable plugin/no-low-performance-animation-properties */
    transition:
      opacity 66ms ease-in,
      transform 66ms ease-in,
      visibility 0s linear 66ms;
    /* stylelint-enable plugin/no-low-performance-animation-properties */
    transform: translate(-50%) scale(0.95);
  }

  input {
    width: 100%;
    height: 100%;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;

    &:hover + .tooltip {
      opacity: 1;
      visibility: visible;
      transition:
        opacity 66ms ease-out,
        transform 66ms ease-out;
      transform: translate(-50%) scale(1);
    }
  }

  .tooltip__arrow {
    top: 0;
    left: 50%;
    transform: translate(-50%);

    &:after {
      transform: translateY(1.5px);
    }
  }

  .tooltip__inner {
    text-transform: capitalize;
  }
}

.light-theme .theme-button--light,
.ash-theme .theme-button--ash,
.dark-theme .theme-button--dark,
.onyx-theme .theme-button--onyx {
  &:before {
    content: '';
    position: absolute;
    inset: -1px;
    border: 2px solid $blurple;
    border-radius: 50%;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: $blurple url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.06 9.04 6 12l6.9-6.9"/%3E%3C/svg%3E') 50% 50% / 16px 16px no-repeat;
    pointer-events: none;
  }
}

.container {
  overflow: hidden;
  width: 160px;
  margin: 0.125rem 0 0;
  padding: 2px 4px 4px;
  border-radius: 8px;
}

.swatch {
  &:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border-radius: 50%;
    background: currentColor;
  }
}

.swatch-preview {
  display: block;
  height: 1.625rem;
  padding: 0.125rem 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
}

.swatch-label {
  display: block;
  font-size: 1rem;
  line-height: 1.375rem;
}

.swatch-code {
  padding: 0 0.2em;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: inherit;
  font-size: 85%;
  font-family:
    'gg mono',
    Consolas,
    'Lucida Console',
    Monaco,
    'Courier New',
    Courier,
    monospace;
  line-height: 1.125rem;
}

.hr {
  position: relative;
  width: 100%;
  margin: 1.5rem 0 0.75rem;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 2px 4px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    white-space: nowrap;
    user-select: none;
    transform: translate(-50%, -9px);
  }
}

hr {
  width: 100%;
  margin: 0;
  border: 0;
  border-style: solid;
  border-top-width: 1px;
}

footer {
  width: 100%;
  margin: 1.5rem 0 0;
}

.github-link {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;

  svg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    fill: currentColor;
  }
}